@charset "UTF-8"; /* Padrão de codificação  utilizado para suportar uma grande quantidade de caracteres, como caracteres especiais e acentuações. Ele é usado especialmente em idiomas que contém acentos, como o português*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap'); /* Importação da Fonte Poppins*/

:root {
    --fundoblack: #111317;
    --fundo: #1f2125;
    --cinza_escuro: #35373b;
    --laranja: #f9ac54;
    --laranja_escuro: #d79447;
    --cinza: #d1d5db;
    --branco: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body,html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--fundoblack);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: auto;
    max-width: 1200px;
}

div.logo {
    max-width: 150px;
}

ul.links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

li.link a {
    position: relative;
    padding-bottom: 10px;
    color: var(--branco);
    text-decoration: none;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--laranja);
    transition: 0.3s;
}

.link a:hover::after {
    width: 50%;
}

.botao {
    padding: 15px 20px;
    font-size: 20px;
    color: var(--branco);
    background-color: var(--laranja);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.botao:hover {
    background-color: var(--laranja_escuro);
}

/* HEADER */

.pattern {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem;
}

header#container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    color: var(--branco);
}

div.content h4 {
    color: var(--laranja);
    font-weight: 600;
}

div.content h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 2rem;
}

div.content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--branco);
}

div.content p {
    color: var(--cinza);
    margin-bottom: 2rem;

}

div.image {
    display: flex;
    align-items: center;
}

div.image img {
    max-width: 350px;
    margin: auto;
}

div.image::before {
    content: "o";
    position: absolute;
    top: 65px;
    left: 58%;
    font-size: 40rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--laranja);
    opacity: 0.1;
    z-index: -1;
}

header#container::before {
    content: "FITNESS";
    position: absolute;
    bottom: 4rem;
    right: 20rem;
    
    font-size: 10rem;
    font-weight: 800;
    line-height: 10rem;
    
    color: var(--white);
    opacity: 0.05;
    z-index: -1;
}

/* SECTION EXPLORE */

div.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--branco);
}

div.nav h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

div.arrow {
    display: flex;
    gap: 2rem;
}

div.arrow span {
    padding: 0 6px;
    font-size: 1.5rem;
    border: 2px solid var(--branco);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

div.arrow span:hover {
    color: var(--laranja);
    border-color: var(--laranja);

}

/* CARDS */

article.container_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 50px;
}

aside.card {
    background-color: var(--fundo);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}

aside.card:hover {
    background-color: var(--cinza_escuro);
    border-color: var(--laranja);
}

aside.card span {
    color: var(--branco);
    background-color: var(--laranja_escuro);
    padding: 3px 8px;
    font-size: 2rem;
    border-radius: 5px;
}

aside.card h4 {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
} 

aside.card p {
    color: var(--cinza);
    font-weight: 300;
    margin-bottom: 15px;
}

aside.card a {
    color: var(--branco);
    text-decoration: none;
}

aside.card a:hover {
    color: var(--laranja);
    transition: 0.3s;
}

/* CLASS */

section#theclass {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}

.img_class {
    position: relative;
}

.img_class > .image1 {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 450px;
    border-radius: 10px;
}

.img_class > .image2 {
    position: absolute;
    left: -30px;
    bottom: -60px;
    max-width: 300px;
    border-radius: 10px;
}

.content_class {
    padding-top: 3rem;
}

.content_class h2 {
    color: var(--branco);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.content_class p {
    color: var(--cinza);
    margin-bottom: 3rem
}

/* JOIN */

section#container_join h2 {
    text-align: center;
    color: var(--branco);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

section#container_join p {
    color: var(--cinza);
    margin-bottom: 3rem;
    text-align: center;
    max-width: 600px;
    margin: auto;
}

div.image_join img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 3rem;
}

  